*{
    font-family: 'Nunito', sans-serif;
}
.container{
    max-width: 992px;
    margin: 0 auto;
    padding: 0 16px;
}
.header{
    background-image: url(../images/header-bg.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__top{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.link-logo{
    margin: 12px 0;
}
.header-input{
    width: 509px;
    background-color: #fff;
    border-radius: 24px;
    border:none;
}
.header__search{
    height: 48px;
    display: flex;
    align-items: center;
}
.header__search input{
    width: 100%;
    margin-right: auto;
    border: 0;
    margin-left: 20px;
}
.input-btn{
    margin-right: 20px;
    margin-left: 10px;
}
.nav__list{
    display: flex;
    padding: 0;
}
.nav__item + .nav__item{
    margin-left: 34px;
}
.nav__link{
    text-decoration: none;
}
.nav__link{
    position: relative;
}
.nav__link span{
    position: absolute;
    color: #fff;
    background-color: #01A54E;
    padding: 1px 4px;
    border-radius: 20px;
    font-size: 9px;
    line-height: 12px;
    font-weight: bold;
    right: -6px;
    top: -13px;
}
.title  a{
    color: #7B8E98;
    font-weight: 400;
    font-size: 14px;
}
.title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 32px;
    font-size: 28px;
}
.banner{
    background-position: center top;
    background-image: url(../images/banner__catalog.png);
    background-size: cover;
    border-radius: 20px;
    border: none;
    margin-bottom: 40px;
}
.banner__link{
    color: #fff;
}
.banner__txt{
    padding: 50px 87px;
}
.banner__title{
    margin: 0;
    margin-bottom: 18px;
    font-weight: 900;
    font-size: 47px;
    line-height: 50px;
}
.banner__subtitle{
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}
.main{
    margin-bottom: 60px;
}
.filter{
    display: flex;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
    border-radius: 12px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: flex-start;
}
.filter__item{
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7B8E98;
}
.filter__item:last-child{
    margin-right: 0;
}
.filter__item-active{
    color: #000;
}
.content__items{
    flex-wrap: wrap;
    max-width: 740px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.card__item{
    margin-bottom: 40px;
    width: 239px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}
.card__img{
    display: block;
    background-color: #fff;
}
.card__pic{
    display: block;
    position: relative;
    overflow: hidden;
}
.card__pic::before{
    content: '';
    display: block;
    padding-top: 100%;
}
.main__pic::before{
    padding-top: calc(187px);
}
.card__pic img{
    position: absolute;
    top: 0;
}
.discount{
    color: #fff;
    background-color: #F44336;
    padding: 2px 8px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 0;
}
.card__favorites{
    right: 0;
    top: 0;
    cursor: pointer;
    position: absolute;
    border: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
}
.card__button{
    margin-top: 16px;
    background-color: #FED700;
    color: #1a1a1a;
    padding: 10px 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border-radius: 55px;
    width: 98px;
    padding-right: 0;
}
.old__price{
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-decoration: line-through;
}
.new__price{
    color: #F44336;
}
.price{
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}
.card__number{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7B8E98;
    margin-bottom: 2px;
}
.card__description{
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.favorite__icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.favorite__alt{
    background-image: url(../images/Favorites.svg);
}
.favorites__full{
    transition: 0.2s;
    opacity: 0;
    background-image: url(../images/favourites__active.svg);
}
.card__favorites.active .favorites__full{ 
    opacity: 1;
}
.content__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__arrow{
    padding: 14px 24px 14px 44px;
    border: 1px solid #CFD8DC;
    border-radius: 87px;
    position: relative;
}
.arrow-prev svg{
    position: absolute;
    left: 20px;
    bottom: 17px;
}
.arrow-next svg{
    position: absolute;
    right: 20px;
    bottom: 17px;
}
.arrow-next{
    padding: 14px 44px 14px 24px;
}
.nav__number{
    padding: 14px;
    border-radius: 61px;
    border: 1px solid #CFD8DC;

}
.nav__number1,
.nav__number2,
.nav__number3{
    padding: 14px 19px;
}
.nav__number4{
    padding: 14px 18px;
}
.nav__number-active{
    background-color: #FED700;;
}
.bar__list-item{
    width: 220px;
    position: relative;
    border-bottom: 1px solid #7B8E98;
}
/* .bar__list{
    max-height: 1580px;
    width: 220px;
} */
.list__item-btn{
    width: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #7B8E98;
}
.list__item-link p{
    text-align: start;
    width: 132px;
}
.bar__item-arrow{
    width: 40px;
	height: 40px;
	background: #fff;
	position: relative;
}
.bar__item-arrow:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
	margin-left: -2px;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #7B8E98;
	border-right: 2px solid #7B8E98;
}
.active button{
    color: #000;
}
.active svg path{
    fill: #000;
}
.dropMenu{
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -9999px;
}
.active .dropMenu{
    position: sticky;
}
.active .bar__item-arrow{
    transform: rotate(90deg);
}
.active .bar__item-arrow::after{
    border-color: #000;
}
.dropDown li{
    margin-bottom: 8px;;
}
.dropDown{
    width: 220px;
    height: 306px;
}
.dropDown li:last-child{
    min-height: 16px;
}
.dropDown__item{
    color: #7B8E98;
    transition: 0.2s;
}
.dropDown__item:hover{
    color: #000;
}
.history{
    margin-bottom: 40px;
}
.history__pic::before{
    padding-top: calc(125px);
}

.main .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.footer{
    background-color: #FED700;
    width: 100%;
}
.footer__logo-pagraph{
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    opacity: 0.6;
}
.footer__logo{
    max-width: 180px;
}
.footer__list-item{
    margin-bottom: 20px;
}
.footer__list-item:last-child{
    margin: 0;
}
.footer__list-item a{
    color: #1a1a1a;
    opacity: 0.6;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    transition: 0.2s;
}
.footer__list-item a:hover{
    opacity: 1;
}
.footer__list1,
.footer__list2{
    margin: 0;
}
.title__ligature{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.ligature__phone{
    color: #1a1a1a;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}
.ligature__mail{
    color: #1a1a1a;
    font-size: 14px;
    line-height: 20px;
}
.footer__inner{
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: space-between;
}
.ligature__social{
    display: flex;
}
.social__item{
    margin-left: 14px;
}
.social__item:first-child{
    margin: 0;
}
.cardImgSvg{
    width: 32px;
    height: 32px;
    background-size: cover;
}
.yak{
    background-image: url(../images/Card-Catalog-Icons-Catalog-ic-cat-yak.svg);
}
.active button .yak{
    background-image: url(../images/Card_catalog-Icons-Catalog-ic-yak-active.svg);
}
.turkey{
    background-image: url(../images/Card-Catalog-Icons-Catalog-ic-cat-turkey.svg);
}
.active button .turkey{
    background-image: url(../images/Card-Catalog-Icons-Catalog-ic-turkey-active.svg);
}
.goose{
    background-image: url(../images/Card-Catalog-Icons-Catalog-ic-cat-goose.svg);
}
.active button .goose{
    background-image: url(../images/Card-Catalog-Icons-Catalog-ic-cat-goose-active.svg);
}
.goodies{
    background-image: url(../images/goodies.svg);
}
.active button .goodies{
    background-image: url(../images/goodies-active.svg);
}
.goat{
    background-image: url(../images/Card-Catalog-Icons-Catalog-ic-cat-goat.svg);
}
.active button .goat{
    background-image: url(../images/Card-Catalog-Icons-Catalog-ic-cat-goat-active.svg);
}